fastapi==0.110.1
uvicorn==0.29.0
python-multipart==0.0.9
torch==2.2.2
torchaudio==2.2.2
transformers==4.39.3
openai>=1.40.0
g2p_en==2.1.0
fastdtw==0.3.4
scipy==1.13.0
numpy==1.26.4
python-dotenv==1.0.1
librosa==0.10.1
pydub==0.25.1
imageio-ffmpeg==0.4.9
